.truncated-content {
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
.expandable-content {
cursor: pointer;
color: blue;
text-decoration: underline;
}