---
apiVersion: v1
kind: Namespace
metadata:
  name: benchmark
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: benchmark-api
  namespace: benchmark
spec:
  replicas: 1
  selector:
   matchLabels:
     app: benchmark-api
  template:
    metadata:
      labels:
        app: benchmark-api
    spec:
      containers:
      - name: benchmark-api
        image: 10.160.16.60/taas/benchmark-api
        imagePullPolicy: Always
        env:
        - name: DEBUG
          value: "False"
        - name: LISTEN_PORT
          value: "8002"
        ports:
        - containerPort: 8002
          name: benchmark-api
          protocol: TCP
        securityContext:
          readOnlyRootFilesystem: false
        volumeMounts:
          - mountPath: /taas/benchmark/config
            name: taas-config
      volumes:
        - name: taas-config
          configMap:
            name: taas-config
---
apiVersion: v1
kind: Service
metadata:
  name: benchmark-api
  namespace: benchmark
spec:
  selector:
   app: benchmark-api
  ports:
  - name: benchmark-api
    port: 8002
    protocol: TCP
---
apiVersion: k8s.nginx.org/v1alpha1
kind: TransportServer
metadata:
 name: benchmark-api-ts
 namespace: benchmark
spec:
 listener:
   name: benchmark-api
   protocol: TCP
 upstreams:
 - name: benchmark-api
   service: benchmark-api
   port: 8002
 action:
   pass: benchmark-api
   
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: benchmark-worker
  namespace: benchmark
spec:
  replicas: 1
  selector:
   matchLabels:
     app: benchmark-worker
  template:
    metadata:
      labels:
        app: benchmark-worker
    spec:
      containers:
      - name: benchmark-worker
        image: 10.160.16.60/taas/benchmark-worker
        imagePullPolicy: Always
        securityContext:
          readOnlyRootFilesystem: false
        volumeMounts:
          - mountPath: /taas/benchmark/config
            name: taas-config
      volumes:
        - name: taas-config
          configMap:
            name: taas-config
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: benchmark-housekeeper
  namespace: benchmark
spec:
  replicas: 1
  selector:
   matchLabels:
     app: benchmark-housekeeper
  template:
    metadata:
      labels:
        app: benchmark-housekeeper
    spec:
      containers:
      - name: benchmark-housekeeper
        image: 10.160.16.60/taas/benchmark-housekeeper
        imagePullPolicy: Always
        securityContext:
          readOnlyRootFilesystem: false
        volumeMounts:
          - mountPath: /taas/benchmark/config
            name: taas-config
      volumes:
        - name: taas-config
          configMap:
            name: taas-config
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: taas-config
  namespace: benchmark
data:
  config.yaml: |
    rabbitmq: amqp://taas:taas@rabbitmq-c1.rabbitmq-c1:5672/benchmark
    push_gateway: 10.160.13.11:9091
    redis:
      server: benchmark-cache
      port: 6379
    db:
      cluster_ips:
        - cluster1-dc1-service.cassandra
      username: taas
      password: taas
      dc: dc1


---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: benchmark-cache
  namespace: benchmark
  labels:
    name: benchmark-cache
spec:
  replicas: 1 
  selector:
    matchLabels:
      name: benchmark-cache
  template:
    metadata:
      labels:
        name: benchmark-cache
    spec:
      containers:
      - name: benchmark-cache
        image: redis:6.0.9-alpine
        command:
          - "redis-server"
        args:
          - "--protected-mode"
          - "no"
        ports:
        - containerPort: 6379

---
apiVersion: v1
kind: Service
metadata:
  name: benchmark-cache
  namespace: benchmark
spec:
  type: ClusterIP
  ports:
  - protocol: TCP
    port: 6379
    targetPort: 6379
    name: redis
  selector:
    name: benchmark-cache