---
apiVersion: v1
kind: Namespace
metadata:
  name: benchmark
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: benchmark-api
  namespace: benchmark
spec:
  replicas: 1
  selector:
   matchLabels:
     app: benchmark-api
  template:
    metadata:
      labels:
        app: benchmark-api
    spec:
      nodeSelector:
        node-type: service
      containers:
      - name: benchmark-api
        image: 10.160.16.60/taas/benchmark-api
        imagePullPolicy: Always
        env:
        - name: DEBUG
          value: "False"
        ports:
        - containerPort: 8000
          name: scale-api
          protocol: TCP
        securityContext:
          readOnlyRootFilesystem: false
        volumeMounts:
          - mountPath: /taas/benchmark/config
            name: taas-config
      volumes:
        - name: taas-config
          configMap:
            name: taas-config
---
apiVersion: v1
kind: Service
metadata:
  name: benchmark-api
  namespace: benchmark
spec:
  selector:
   app: benchmark-api
  ports:
  - name: benchmark-api
    port: 8000
    protocol: TCP
---
apiVersion: k8s.nginx.org/v1
kind: VirtualServerRoute
metadata:
  name: benchmark-api-route
  namespace: benchmark
spec:
  host: 10.160.13.11
  upstreams:
  - name: benchmark-api-svc
    service: benchmark-api
    port: 8000
  subroutes:
  - path: /benchmark
    action:
      pass: benchmark-api-svc

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: taas-config
  namespace: benchmark
data:
  config.yaml: |
    db:
      cluster_ips:
        - cluster1-dc1-service.cassandra
      username: taas
      password: taas
      dc: dc1
