---
apiVersion: v1
kind: Namespace
metadata:
  name: model-services
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: model-service-pvc
  namespace: model-services
spec:
  accessModes:
    - ReadWriteMany
  volumeMode: Filesystem
  resources:
    requests:
      storage: 10Gi
  storageClassName: local-storage
  selector:
    matchExpressions:
      - {key: kubernetes.io/hostname, operator: In, values: [kubecluster-1-master, kubecluster-1-node1]}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: model-service
  namespace: model-services
spec:
  replicas: 2
  selector:
    matchLabels:
      app: model-service
  template:
    metadata:
      labels:
        app: model-service
    spec:
      containers:
      - name: model-service
        image: 10.160.16.60/tools/model-service
        volumeMounts:
        - name: model-service
          mountPath: /data_store
          readOnly: false
        ports:
        - containerPort: 8000
          name: rest-api
          protocol: TCP
        securityContext:
          readOnlyRootFilesystem: false
      volumes:
      - name: model-service
        persistentVolumeClaim:
          claimName: model-service-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: model-service 
  namespace: model-services
spec:
  selector:
   app: model-service
  ports:
  - name: rest-api
    port: 8000
    protocol: TCP
