---
apiVersion: v1
kind: Namespace
metadata:
  name: model-services
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: image-classifier
  namespace: model-services
spec:
  replicas: 1
  selector:
    matchLabels:
      app: image-classifier
  template:
    metadata:
      labels:
        app: image-classifier
    spec:
      affinity:
      nodeSelector:
        node-type: service
      containers:
      - name: image-classifier
        image: 10.160.16.60/ai_services/image_classifier
        ports:
        - containerPort: 8000
          name: rest-api
          protocol: TCP
        securityContext:
          readOnlyRootFilesystem: false
        resources:
          requests:
            cpu: 1000m
---
apiVersion: v1
kind: Service
metadata:
  name: image-classifier 
  namespace: model-services
spec:
  selector:
   app: image-classifier
  ports:
  - name: rest-api
    port: 8000
    protocol: TCP

# ---
# apiVersion: k8s.nginx.org/v1alpha1
# kind: TransportServer
# metadata:
#   name: test-assistant
#   namespace: model-services
# spec:
#   listener:
#     name: test-assistant
#     protocol: TCP
#   upstreams:
#   - name: test-assistant
#     service: model-service
#     port: 8000
#   action:
#     pass: test-assistant

---
apiVersion: k8s.nginx.org/v1
kind: VirtualServerRoute
metadata:
  name: image-classifier-route
  namespace: model-services
spec:
  host: 10.160.13.11
  upstreams:
  - name: imageclassifier-svc
    service: image-classifier
    port: 8000
  subroutes:
  - path: /imageclassifier
    action:
      pass: imageclassifier-svc

---
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: image-classifier-hpa
  namespace: model-services
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: image-classifier
  minReplicas: 1
  maxReplicas: 4
  targetCPUUtilizationPercentage: 90
