---
apiVersion: v1
kind: Namespace
metadata:
  name: monitor-service
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: monitor-service-api
  namespace: monitor-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: monitor-service-api
  template:
    metadata:
      labels:
        app: monitor-service-api
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/hostname
                operator: In
                values:
                - kubecluster-1-master
      containers:
      - name: monitor-service-api
        image: 10.160.16.60/monitor/monitor-service-api
        env:
        - name: DEBUG
          value: "False"
        ports:
        - containerPort: 8000
          name: monitor-mgr-api
          protocol: TCP
        securityContext:
          readOnlyRootFilesystem: false
        # resources:
        #   requests:
        #     cpu: 1000m
---
apiVersion: v1
kind: Service
metadata:
  name: monitor-service-api
  namespace: monitor-service
spec:
  selector:
   app: monitor-service-api
  ports:
  - name: monitor-mgr-api
    port: 8000
    protocol: TCP

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: runner
  namespace: monitor-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: runner
  template:
    metadata:
      labels:
        app: runner
    spec:
#       affinity:
#         nodeAffinity:
#           preferredDuringSchedulingIgnoredDuringExecution:
#           - weight: 100
#             preference:
#               matchExpressions:
#               - key: kubernetes.io/hostname
#                 operator: In
#                 values:
#                 - kubecluster-1-node1
#           - weight: 90
#             preference:
#               matchExpressions:
#               - key: kubernetes.io/hostname
#                 operator: In
#                 values:
#                 - kubecluster-1-node2
#           - weight: 40
#             preference:
#               matchExpressions:
#               - key: kubernetes.io/hostname
#                 operator: In
#                 values:
#                 - kubecluster-1-node3

#      hostAliases:
#      - ip: "10.160.44.172"
#        hostnames:
#        - "ftc.fortinet.com"
      nodeName: kubecluster-1-node1
      containers:
      - name: runner
        image: 10.160.16.60/pytest-automation/pytest_automation:prod_monitor
        imagePullPolicy: Always
        volumeMounts:
        - name: x11-data
          mountPath: /tmp/.X11-unix/
        - name: shm
          mountPath: /dev/shm
        env:
        - name: QT_X11_NO_MITSHM
          value: "1"
        - name: DISPLAY
          value: ":88"
        command: ["/bin/bash"]
        args: ["-c", "wget http://10.160.50.118:8889/prod_checker_launch.sh -O /pytest-automation/ftc_launch.sh;/bin/bash ftc_launch.sh"]
        securityContext:
           capabilities:
             add:
               - NET_ADMIN
      volumes:
        - name: x11-data
          hostPath:
           path: /tmp/.X11-unix/
        - name: shm
          hostPath:
           path: /dev/shm
#      dnsConfig:
#        nameservers:
#        - 10.160.41.22

---
apiVersion: k8s.nginx.org/v1
kind: VirtualServerRoute
metadata:
  name: monitor-service-route
  namespace: monitor-service
spec:
  host: 10.160.13.11
  upstreams:
  - name: monitor-service-svc
    service: monitor-service-api
    port: 8000
  subroutes:
  - path: /monitor
    action:
      pass: monitor-service-svc

# ---
# apiVersion: autoscaling/v1
# kind: HorizontalPodAutoscaler
# metadata:
#   name: monitor-service-hpa
#   namespace: monitor-services
# spec:
#   scaleTargetRef:
#     apiVersion: apps/v1
#     kind: Deployment
#     name: image-classifier
#   minReplicas: 1
#   maxReplicas: 4
#   targetCPUUtilizationPercentage: 90

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-master
  namespace: monitor-service
  labels:
    name: redis-master
spec:
  replicas: 1 
  selector:
    matchLabels:
      name: redis-master
  template:
    metadata:
      labels:
        name: redis-master
    spec:
      nodeName: kubecluster-1-master
      containers:
      - name: redis-master
        image: redis:6.0.9-alpine
        command:
          - "redis-server"
        args:
          - "--protected-mode"
          - "no"
        ports:
        - containerPort: 6379
        volumeMounts:
          - name: redis-data-res-manager
            mountPath: /data
      volumes:
        - name: redis-data-res-manager
          hostPath:
            path: /home/fortinet/data/resource_manager/redis-master
            type: DirectoryOrCreate
---
apiVersion: v1
kind: Service
metadata:
  name: redis-master
  namespace: monitor-service
spec:
  type: ClusterIP
  ports:
  - protocol: TCP
    port: 6379
    targetPort: 6379
    name: redis
  selector:
    name: redis-master
