---
apiVersion: v1
kind: Namespace
metadata:
  name: mysql
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mysql
  namespace: mysql
  labels:
    name: mysql
spec:
  replicas: 1
  serviceName: mysql
  selector:
    matchLabels:
      name: mysql
  template:
    metadata:
      labels:
        name: mysql
    spec:
      nodeName: kubecluster-1-master
      containers:
      - name: mysql
        image: mysql:8.0.23
        env:
          - name: "MYSQL_ROOT_PASSWORD"
            value: "fortinet"
        ports:
        - containerPort: 3306
        volumeMounts:
          - name: data
            mountPath: /var/lib/mysql
      volumes:
        - name: data
          hostPath:
            path: /home/fortinet/data/mysql
            type: DirectoryOrCreate
---
apiVersion: v1
kind: Service
metadata:
  name: mysql
  namespace: mysql
spec:
  type: ClusterIP
  ports:
  - protocol: TCP
    port: 3306
    targetPort: 3306
    name: mysql
  selector:
    name: mysql
---
apiVersion: k8s.nginx.org/v1alpha1
kind: TransportServer
metadata:
 name: mysql
 namespace: mysql
spec:
 listener:
   name: mysql
   protocol: TCP
 upstreams:
 - name: mysql
   service: mysql
   port: 3306
 action:
   pass: mysql
