---
apiVersion: v1
kind: Namespace
metadata:
  name: scale-test-runner
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: test-runner
  namespace: scale-test-runner
spec:
  replicas: 4
  selector:
    matchLabels:
      app: test-runner
  template:
    metadata:
      labels:
        app: test-runner
    spec:
      affinity:
        nodeAffinity:
#           requiredDuringSchedulingIgnoredDuringExecution:
#             nodeSelectorTerms:
#             - matchExpressions:
#               - key: kubernetes.io/hostname
#                 operator: In
#                 values:
#                 - kubecluster-1-master
#                 - kubecluster-1-node1
#                 - kubecluster-1-node2 
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            preference:
              matchExpressions:
              - key: kubernetes.io/hostname
                operator: In
                values:
                - kubecluster-1-node1
          - weight: 90
            preference:
              matchExpressions:
              - key: kubernetes.io/hostname
                operator: In
                values:
                - kubecluster-1-node2
          - weight: 80
            preference:
              matchExpressions:
              - key: kubernetes.io/hostname
                operator: In
                values:
                - kubecluster-1-node3

      hostAliases:
      - ip: "10.160.44.172"
        hostnames:
        - "ftc.fortinet.com"
      containers:
      - name: test-runner
        image: 10.160.16.60/pytest-automation/pytest_automation:fil_test
        imagePullPolicy: Always
        volumeMounts:
        - name: x11-data
          mountPath: /tmp/.X11-unix/
        - name: shm
          mountPath: /dev/shm
        env:
        - name: QT_X11_NO_MITSHM
          value: "1"
        - name: DISPLAY
          value: ":88"
        command: ["/bin/bash"]
        args: ["-c", "wget http://10.160.50.118:8889/fil.yml -O /pytest-automation/fil.yml;python3 -m pytest -s -m 'scale' --lab_config=/pytest-automation/fil.yml"]
      volumes:
        - name: x11-data
          hostPath:
           path: /tmp/.X11-unix/
        - name: shm
          hostPath:
           path: /dev/shm
      dnsConfig:
        nameservers:
        - 8.8.8.8