[Unit]
Description=appium server
After=syslog.target network.target

[Service]
WorkingDirectory=/home/fortinet/Android/Sdk/emulator
EnvironmentFile=/home/fortinet/.envfile
ExecStart=/usr/bin/appium --relaxed-security --default-capabilities "{\"newCommandTimeout\": \"0\"}"
StandardOutput=inherit
StandardError=inherit
Restart=always
User=fortinet

[Install]
WantedBy=multi-user.target
