.maintextbox {
    width:700px;
    height:350px;
    white-space: pre;
    text-align: left;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 12px 26px;
    margin-right: 15px;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 6px #999;
    margin-bottom: 18px;
  }
  .button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}