---
apiVersion: v1
kind: Namespace
metadata:
  name: cassandra
---
apiVersion: cassandra.datastax.com/v1beta1
kind: CassandraDatacenter
metadata:
  name: dc1
  namespace: cassandra
spec:
  clusterName: cluster1
  serverType: cassandra
  serverVersion: "4.0.1"
  managementApiAuth:
    insecure: {}
  size: 1
  racks:
    - name: r1
  storageConfig:
    cassandraDataVolumeClaimSpec:
      storageClassName: local-path
      accessModes:
        - ReadWriteOnce
      resources:
        requests:
          storage: 1000Gi
#  dockerImageRunsAsCassandra: false
  resources:
    requests:
      memory: 2Gi
      cpu: 1000m
#  podTemplateSpec:
#    securityContext: {}
#    containers:
#      - name: cassandra
#        securityContext: {}

  config:
    jvm-server-options:
      initial_heap_size: "1G"
      max_heap_size: "1G"
    cassandra-yaml:
#      num_tokens: 16
      authenticator: PasswordAuthenticator
      authorizer: CassandraAuthorizer
      role_manager: CassandraRoleManager
---
apiVersion: k8s.nginx.org/v1alpha1
kind: TransportServer
metadata:
 name: cassandra-cqlsh
 namespace: cassandra
spec:
 listener:
   name: cqlsh
   protocol: TCP
 upstreams:
 - name: cassandra-cqlsh
   service: cluster1-dc1-all-pods-service
   port: 9042
 action:
   pass: cassandra-cqlsh
