[Unit]
Description=Prometheue node exporter
After=syslog.target network.target

[Service]
User=jenkins
ExecStart=/opt/node_exporter-1.0.1.linux-amd64/node_exporter
Restart=always

[Install]
WantedBy=multi-user.target
