global:
  scrape_interval:     15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.
  # scrape_timeout is set to the global default (10s).
  #
  #   # Attach these labels to any time series or alerts when communicating with
  #     # external systems (federation, remote storage, Alertmanager).
  external_labels:
    monitor: 'ftc-test-env-monitor'

  # Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
    #- "first.rules"
    #- "second.rules"
scrape_configs:
  - job_name: 'node-exporter'
    static_configs:
      - targets: 
          - 10.160.50.118:9100
          - 10.160.50.7:9100
          - 10.160.16.4:9100
          - 10.160.16.5:9100
          - 10.160.50.8:9100
          - 10.160.11.5:9100

  - job_name: 'process-exporter'
    static_configs:
      - targets:
          - 10.160.16.4:9256
          - 10.160.16.5:9256   


  - job_name: 'pushgateway'
    static_configs:
      - targets:
          - prom-pushgateway:9091
  
  - job_name: 'exsi'
    static_configs:
      - targets: 
          - prometheus_exsi-exporter-41.24_1:9512 
          - prometheus_exsi-exporter-50.117_1:9512
          - prometheus_exsi-exporter-1.55_1:9512
          - prometheus_exsi-exporter-1.59_1:9512
          - prometheus_exsi-exporter-16.5_1:9512
          - prometheus_exsi-exporter-1.70_1:9512

  - job_name: 'ftc_check_40.31'
    metrics_path: /probe
    params:
      module: [ftc_portal_check]
    static_configs:
      - targets: 
          - https://10.160.44.172/version
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: prometheus_blackbox-exporter-41.30_1:9115  # The blackbox exporter's real hostname:port

  - job_name: 'ping_check_fgts'
    metrics_path: /probe
    params:
      module: [ping]
    static_configs:
      - targets:
          - 10.160.50.70
          - 10.160.50.71
          - 10.160.50.72
          - 10.160.50.73
          - 10.160.50.74
          - 10.160.50.75
          - 10.160.50.76
          - 10.160.50.130
          - 10.160.50.131
          - 10.160.50.132
          - 10.160.50.133
          - 10.160.50.20
          - 10.160.50.21
          - 10.160.50.22
          - 10.160.50.23
          - 208.91.112.52
          - 208.91.112.53
          - 8.8.8.8
          - 10.160.1.70
          
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: prometheus_blackbox-exporter-41.30_1:9115

  - job_name: 'dns_check'
    metrics_path: /probe
    params:
      module: [dns_udp_resolve]
    static_configs:
      - targets:
          - 10.160.41.30
          - 10.160.41.31
          - 10.160.41.9
          - 10.160.41.22
          - 208.91.112.52
          - 208.91.112.53
          - 8.8.8.8

    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: prometheus_blackbox-exporter-41.30_1:9115 
