---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana
  namespace: monitor-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: grafana
  template:
    metadata:
      labels:
        app: grafana
    spec:
      affinity:
      nodeSelector:
        node-type: service
      containers:
      - name: grafana
        image: grafana/grafana
        env:
        - name: "GF_AUTH_ANONYMOUS_ENABLED"
          value: "true"
        - name: "GF_AUTH_ORG_ROLE"
          value: "true"
        - name: "GF_AUTH_ANONYMOUS_ORG_NAME"
          value: "FTC-PROD"
        - name: "GF_INSTALL_PLUGINS"
          value: "redis-datasource"
        - name: "GF_INSTALL_PLUGINS"
          value: "flant-statusmap-panel,grafana-polystat-panel,redis-datasource,grafana-piechart-panel"
        - name: "GF_PANELS_DISABLE_SANITIZE_HTML"
          value: "true"
        - name: "GF_SECURITY_ALLOW_EMBEDDING"
          value: "true"
        ports:
        - containerPort: 3000
          name: monitor-mgr-api
          protocol: TCP
        securityContext:
          readOnlyRootFilesystem: false
          runAsUser: 0
        volumeMounts:
          - mountPath: /var/lib/grafana
            name: grafana-storage
      volumes:
        - name: grafana-storage
          hostPath:
            path: /opt/data/grafana
            type: DirectoryOrCreate

---
apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: monitor-system
spec:
  selector:
   app: grafana
  ports:
  - name: grafana
    port: 3000
    protocol: TCP

---
apiVersion: k8s.nginx.org/v1alpha1
kind: TransportServer
metadata:
 name: grafana
 namespace: monitor-system
spec:
 listener:
   name: general-grafana
   protocol: TCP
 upstreams:
 - name: grafana
   service: grafana
   port: 3000
 action:
   pass: grafana
