---
apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: monitor-system
data:
  prometheus.yml: |
    global:
      scrape_interval:     5s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
      evaluation_interval: 5s # Evaluate rules every 15 seconds. The default is every 1 minute.
      # scrape_timeout is set to the global default (10s).
      #
      #   # Attach these labels to any time series or alerts when communicating with
      #     # external systems (federation, remote storage, Alertmanager).
      external_labels:
        monitor: 'ftc-test-env-monitor'

      # Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
    rule_files:
        #- "first.rules"
        #- "second.rules"
    scrape_configs:
      - job_name: 'node-exporter'
        static_configs:
          - targets:
              - 10.160.50.118:9100
              - 10.160.13.20:9100
              - 10.160.13.21:9100
              - 10.160.13.22:9100
              - 10.160.13.23:9100
              - 10.160.13.24:9100
              - 10.160.13.25:9100
              - 10.160.50.8:9100
              - 10.160.11.5:9100
              - 10.160.13.11:9100
              - 10.160.13.12:9100
              - 10.160.13.13:9100
              - 10.160.13.14:9100
              - 10.160.13.15:9100
              - 10.160.13.16:9100
              - 10.160.13.17:9100
              - 10.65.13.30:9100
              - 10.160.13.80:9100
              - 10.160.13.81:9100
              - 10.160.13.88:9100
              - 10.160.83.2:9100
              - 10.160.83.11:9100
              - 10.160.83.12:9100
              - 10.160.83.13:9100
              - 10.160.83.14:9100
              - 10.160.83.15:9100
              - 10.160.83.16:9100
              - 10.160.83.17:9100
              - 10.160.83.18:9100
              - 10.160.83.19:9100
              - 10.160.83.20:9100
              - 10.160.83.21:9100
              - 10.160.83.22:9100
              - 10.160.83.23:9100
              - 10.160.83.24:9100
              - 10.160.83.25:9100
              - 10.160.83.26:9100
              - 10.160.83.27:9100
              - 10.160.83.28:9100
              - 10.160.83.29:9100

      - job_name: 'process-exporter'
        static_configs:
          - targets:
              - 10.160.13.20:9256
              - 10.160.13.21:9256
              - 10.160.13.22:9256
              - 10.160.13.23:9256
              - 10.160.13.24:9256
              - 10.160.13.25:9256

      - job_name: 'collectd'
        static_configs:
          - targets:
              - 10.160.11.130:9103
              - 10.160.11.147:9103

      - job_name: 'pushgateway'
        static_configs:
          - targets:
              - pushgateway.monitor-system:9091

      - job_name: 'exsi'
        static_configs:
          - targets:
              - esxi-expr-1-70:9512
              - esxi-expr-1-69:9512
              - esxi-expr-1-68:9512
              - esxi-expr-1-65:9512

      - job_name: 'ftc_check_40.31'
        metrics_path: /probe
        params:
          module: [ftc_portal_check]
        static_configs:
          - targets:
              - https://10.160.44.172/version
        relabel_configs:
          - source_labels: [__address__]
            target_label: __param_target
          - source_labels: [__param_target]
            target_label: instance
          - target_label: __address__
            replacement: blackboxexporter:9115

      - job_name: 'ping_check_fgts'
        metrics_path: /probe
        params:
          module: [ping]
        static_configs:
          - targets:
              - 10.160.50.70
              - 10.160.50.71
              - 10.160.50.72
              - 10.160.50.73
              - 10.160.50.74
              - 10.160.50.75
              - 10.160.50.76
              - 10.160.50.130
              - 10.160.50.131
              - 10.160.50.132
              - 10.160.50.133
              - 10.160.50.20
              - 10.160.50.21
              - 10.160.50.22
              - 10.160.50.23
              - 208.91.112.52
              - 208.91.112.53
              - 8.8.8.8
              - 10.160.1.70

        relabel_configs:
          - source_labels: [__address__]
            target_label: __param_target
          - source_labels: [__param_target]
            target_label: instance
          - target_label: __address__
            replacement: blackboxexporter:9115

      - job_name: 'dns_check'
        metrics_path: /probe
        params:
          module: [dns_udp_resolve]
        static_configs:
          - targets:
              - 10.160.41.30
              - 10.160.41.31
              - 10.160.41.9
              - 10.160.41.22
              - 208.91.112.52
              - 208.91.112.53
              - 8.8.8.8

        relabel_configs:
          - source_labels: [__address__]
            target_label: __param_target
          - source_labels: [__param_target]
            target_label: instance
          - target_label: __address__
            replacement: blackboxexporter:9115

      - job_name: 'snmp-fgt'
        static_configs:
          - targets: []
        metrics_path: /snmp
        params:
          module: [fortigate]
        relabel_configs:
          - source_labels: [__address__]
            target_label: __param_target
          - source_labels: [__param_target]
            target_label: instance
          - target_label: __address__
            replacement: snmp-exporter:9116  # The SNMP exporter's real hostname:port.
      - job_name: 'snmp-fac'
        static_configs:
          - targets:
            - 10.160.83.158
            - 10.160.13.220
        metrics_path: /snmp
        params:
          module: [fortiauthenticator]
        relabel_configs:
          - source_labels: [__address__]
            target_label: __param_target
          - source_labels: [__param_target]
            target_label: instance
          - target_label: __address__
            replacement: snmp-exporter:9116  # The SNMP exporter's real hostname:port.

  webconfig.yml: |
    basic_auth_users:
      ftc-prod: '$2y$12$ez.e7K9WFxqTOAQON4dM2OUG/qG4i44L/VZc/X5PqpruaUSHn9EZe'
